<!doctype html>
<html>
<head>
    <title>Assignment 4- OAuth</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <style>
        body        { padding-top:200px; }
    </style>
</head>
<body>
<div class="container">
    <div class=" text-center text-primary">
        <h1><span class="fa fa-github">&nbsp &nbsp</span>OAuth Demonstration using Github Login </h1>
        <p>Please click below button to authorize login using your github account.</p>
        <a href="https://github.com/login/oauth/authorize?client_id=<%= client_id %>" class="btn btn-info"><span class="fa fa-github"></span> Github Login</a>
    </div>
</div>
</body>
</html> 