<!doctype html>
<html>
  <head>
    <title>Github Oauth</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
      <style>
          body        { padding-top:100px; }
      </style>
  </head>
  <body>
    <div class="container">
      <div class=" text-center">
          <h1 class="text-center"></span>Logged out successfully</h1><br><br>
          <a class="button is-danger"  href="/"><u>Login Again </u></a>

         
        </div>
      </div>
    </div>
  </body>
</html>